.footer {
    display: flex;
    height: 50px;
    width:  90%;
    margin: 0 auto;
    flex-direction: column;
    background-color: #292727;
    justify-content: center;
    text-align: center;

}

.footer a {
    margin-right: 60px;
}